

.main-form {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 4px;
    width: 30%;
    height: 50%;
    align-items: center;
    background-color: #607274;
    gap: 32px;
}

.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-title {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 600;
    line-height: 76px !important;
    padding-top: 50px;
}

.text {
    font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: unset;
    letter-spacing: -0.03em;
}
